# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
vemv/
.venv/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local database
*.db